$blue:    #007bff !default;
$blue_2:    #45aaf2 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$purple_2:  #a55eea !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$red_2:     #fc5c65 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$liteGray:    #d1d8e0 !default;
$gray_contactus: #788ea6;
$mainColor: #00397c;
